* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
body {
	background-color: lightsalmon;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
}
.nav-item:not(:last-child) {
	margin-right: 1rem;
}
.main {
	text-align: center;
	max-width: 584px;
	margin-right: auto;
	margin-left: auto;
	height: 200vh;
}
.hero-img {
	margin-bottom: 1rem;
}
.search-bar {
	margin-bottom: 1rem;
	width: 100%;
	padding: 0.5rem;
	border-radius: 17px;
	border: 1px solid lightgray;
}
.actions {
	margin-bottom: 1rem;
}
.button {
	border: 1px solid transparent;
	background-color: lightgray;
	color: #757575;
	padding: 1rem;
	transition: all 0.4s ease-in;
}
.button:focus,
.button:hover {
	border-color: darkgray;
	color: black;
	box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
	background-color: fuchsia;
}

@media screen and (min-width: 768px) {
	body {
		background-color: pink;
	}
}

@media screen and (min-width: 1200px) {
	body {
		background-color: lightblue;
	}
}
